$gray-1: #F5F7FA;
$gray-2: #CCD1D9;
$gray-3: #656D78;
$gray-4: #3C3B3D;
$gray-5: #323133;

$red: #D8334A;
$orange: #FC6E51;
$yellow: #FFCE54;
$green: #2ABA66;
$cyan: #37BC9B;
$blue: #3BAFDA;
$brown: #AA8E69;
$lavender: #AC92EC;
$plum: #8067B7;
$rose: #EC87C0;
$teal: #A0CECB;
$grass: #A0D468;


$root-font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$small-font-size: 14px;
$root-line-height: 1.5;
$second-font-family: "Noto Serif", Georgia, serif;

$body-color: $gray-4;
$body-bg: #fefefe;
$link-color: $blue;

$border-color: #e5e5e5;

$large-font-size: 16px;

$code-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$code-color: #bf616a;
