$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #3C3B3D;
$gray-5: #323133;

$red: #D8334A;
$orange: #FC6E51;
$yellow: #FFCE54;
$green: #2ABA66;
$cyan: #37BC9B;
$blue: #3BAFDA;
// $blue: #6a9fb5;
$brown: #8f5536;

$root-font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$small-font-size: 14px;
$root-line-height: 1.5;
$second-font-family: "Noto Serif", Georgia, serif;

$body-color: $gray-4;
$body-bg: #fefefe;
$link-color: $blue;

$border-color: #e5e5e5;

$large-font-size: 16px;

$code-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$code-color: #bf616a;
